{% extends "base.html" %}

{% block header %}
<h1>Module</h1>
{% endblock %}


{% block content %}
{% if moduls %}
	<table class="ov">
		<thead>
			<th>name</th>
			<th>nummer</th>
			<th>lp</th>
			<th>type</th>
			<th>description</th>
			<th>department</th>
		</thead>
		{% for modul in moduls %}
			<tr>
				<td><a href="{% url 'timetable.views.details' modul.id %}">{{ modul.name}}</a></td>
				<td>{{ modul.number}}</td>
				<td>{{ modul.lp}}</td>
				<td>{{ modul.modultype}}</td>
				<td>{{ modul.description}}</td>
				<td>{{ modul.deparment}}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>Keine Module vorhanden.</p>
{% endif %}
{% endblock %}