{% extends "base.html" %}

{% block title %}{{ block.super }} - Stundenplan{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
        <script> 
                var module= {mods:[ 
                                {}, 
                         ]};
        </script>
        <font size="+2">Semesterplan</font><br>
        <h3>select semester</h3>
        <select id="select_semester">
        	<option value="5">choose one</option>
        	<option value="0">Sommersemester</option>
        	<option value="1">Wintersemester</option>
        </select>
        <hr>
        <h3> selected moduls</h3>
        <table id="selected">
                <thead>
                        <th>select</th>
                        <th>name</th>
                        <th>nummer</th>
                        <th>lp</th>
                        <th>type</th>
                        <th>description</th>
                        <th>events</th>
                </thead>
                <tbody id="selected_body">
                </tbody>
        </table>

        <br /><hr><br />

        <h3>available moduls</h3>
        <table id="offering">
        	<thead>
                        <th>select</th>
                        <th>name</th>
			<th>nummer</th>
			<th>lp</th>
			<th>type</th>
			<th>description</th>
        	</thead>
        	<tbody id="offer_body">
        		{% if ss_moduls %}
                        {% for modul in ss_moduls %}
                                <tr class="offer_ss offer" id="{{ modul.number}}">
                                        <td><input type="button" value="+"></td>
                                        <td>{{ modul.name}}</td>
                                        <td>{{ modul.number}}</td>
                                        <td>{{ modul.lp}}</td>
                                        <td>{{ modul.modultype}}</td>
                                        <td>{{ modul.description}}</td>
                                        <td class="offer_events" id="{{ modul.number}}_events">
                                                {% for m in modul.event_set.all %}
                                                        <span id="{{m.id}}" class="offer_event" name="{{ m.weekday }} || {{m.id}} || {{m.eventtype}} || {{ m.begin }} || {{ m.end }}">
                                                                {{m.eventtype}} ( {{ m.weekday }}: {{ m.begin }} - {{ m.end }}) <br />
                                                        </span>
                                                {% endfor %}
                                        </td></td>
                                </tr>
                        {% endfor %}
                        {% else %}
                                <tr class="offer_ss offer" >
                                        <td colspan="7"> no moduls avaiable</td>
                                </tr>
                        {% endif %}


                        {% if ws_moduls %}
                        {% for modul in ws_moduls.distinct %}
                                <script>
                                        var mod = {number:"{{ modul.number}}",events:[]};
                                </script>
                                <tr class="offer_ws offer" id="{{ modul.number}}" >
                                        <td><input type="button" value="+" name="{{ modul.number }}" class="btn_sel"></td>
                                        <td>{{ modul.name}}</td>
                                        <td>{{ modul.number}}</td>
                                        <td>{{ modul.lp}}</td>
                                        <td>{{ modul.modultype}}</td>
                                        <td>{{ modul.description}}</td>
                                        <td class="offer_events" id="{{ modul.number}}_events">
                                                {% for m in modul.event_set.all %}
                                                        <script>
                                                                var evt = {type: "{{m.eventtype}}" ,day: "{{ m.weekday }}", from: "{{ m.begin }}", to: "{{ m.end }}" , modul:"{{ modul.number}}"};
                                                                mod.events.push(evt);
                                                        </script>
                                                        <span id="{{m.id}}" class="offer_event">
                                                                {{m.eventtype}} ( {{ m.weekday }}: {{ m.begin }} - {{ m.end }}) <br />
                                                        </span>
                                                {% endfor %}
                                        </td>
                                </tr>
                                <script>
                                        module.mods.push(mod);
                                </script>
                        {% endfor %}
                        {% else %}
                                <tr class="offer_ss offer" >
                                        <td colspan="7"> no moduls avaiable</td>
                                </tr>
                        {% endif %}

                        
        	</tbody>
        </table>
        <script>
                var week= {day:[ 
                                {id:"0", events:[] }, 
                                {id:"1", events:[] }, 
                                {id:"2", events:[] }, 
                                {id:"3", events:[] }, 
                                {id:"4", events:[] }, 
                                {id:"5", events:[] }, 
                                {id:"6", events:[] }, 
                                {id:"7", events:[] }, 
                         ]};

        	$('#select_semester').change(function (){
        		if($(this).val() !=5){
        			if($(this).val()==0){
        		              $('.offer_ss').css("display","table-row");
                                      $('.offer_ws').css("display","none");
        			}
        			else if($(this).val()==1){
                                      $('.offer_ws').css("display","table-row");
                                      $('.offer_ss').css("display","none");
        			}	
        		}
        	});
        
                $('.btn_sel').click(function(){
                        $(this).val("-");
                        $(this).removeClass('btn_sel');
                        $(this).addClass('btn_desel');
                        var name='#'+$(this).attr('name');
                        $('#selected_body').append( $(name));
                        $(name+'_events').css("display","table-row");

                        for(var i in module.mods)
                        {
                                if(module.mods[i].number == $(this).attr("name"))
                                {alert("selected:"+module.mods[i].number);
                                        for(var j in module.mods[i].events)
                                        {
                                               week.day[ module.mods[i].events[j].day ].events.push(module.mods[i].events[j]);
                                        }
                                        
                                }
                        }

                        $('.btn_desel').click(function(){
                                $(this).removeClass('btn_desel');
                                $(this).addClass('btn_sel');
                                $(this).val("+");
                                var name='#'+$(this).attr('name');
                                $('#offer_body').append($(name));
                                $(name+'_events').css("display","none");
                                 
                                for(var i in week.day)
                                {       
                                        for(var j in week.day[i].events)
                                        {
                                                alert("remove"+week.day[i].events[j].modul);
                                                delete week.day[i].events[j];

                                        }
                                }
                        });

                        //$("span."+$(this).attr("name")).css('color','yellow');
                        
                        //alert(module.mods[1].events[0].type);
                                              
                         //var evt={name:"6",from:"12"};
                         //week.day[2].events.push(evt);

                        //alert(week.day[1].events[0].from);

                });
                

	</script>
{% endblock %}
