{% extends "base.html" %}

{% block title %}{{ block.super }} - Stundenplan{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
        <script> 
                var module= {mods:[ 
                                {}, 
                         ]};
        </script>
        <font size="+2">Semesterplan</font><br>
        <h3>select semester</h3>
        <select id="select_semester">
        	<option value="5">choose one</option>
        	<option value="0">Sommersemester</option>
        	<option value="1">Wintersemester</option>
        </select>
        <hr>
        <h3> selected moduls</h3>
        <table id="selected">
                <thead>
                        <th>select</th>
                        <th>name</th>
                        <th>nummer</th>
                        <th>lp</th>
                        <th>type</th>
                        <th>description</th>
                        <th>events</th>
                </thead>
                <tbody id="selected_body">
                </tbody>
        </table>

        <br /><hr><br />
        table output: <input type="button" id="table_out_btn" value="do it">
        <div id="table_out" class="container"></div>

        <br /><hr><br />

        <h3>available moduls</h3>
        <table id="offering">
        	<thead>
                        <th>select</th>
                        <th>name</th>
			<th>nummer</th>
			<th>lp</th>
			<th>type</th>
			<th>description</th>
        	</thead>
        	<tbody id="offer_body">
        		{% if ss_moduls %}
                        {% for modul in ss_moduls.distinct %}
                                <script>
                                        var mod = {number:"{{ modul.number}}",events:[]};
                                </script>
                                <tr class="offer_ss offer" id="{{ modul.number}}">
                                        <td>
                                                <input type="button" value="+" name="{{ modul.number }}" class="btn_sel" id="{{ modul.number }}_btn_sel">
                                                <input type="button" value="-" name="{{ modul.number }}" class="btn_desel" id="{{ modul.number }}_btn_desel" style="display:none;">
                                        </td>
                                        <td>{{ modul.name}}</td>
                                        <td>{{ modul.number}}</td>
                                        <td>{{ modul.lp}}</td>
                                        <td>{{ modul.modultype}}</td>
                                        <td>{{ modul.description}}</td>
                                        <td class="offer_events" id="{{ modul.number}}_events">
                                                {% for m in modul.event_set.all %}
                                                        <script>
                                                                var evt = {type: "{{m.eventtype}}" ,day: "{{ m.weekday }}", from: "{{ m.begin }}", to: "{{ m.end }}" , modul:"{{ modul.number}}",flag:"true",semester:"ss",id:"{{ m.id }}"};
                                                                mod.events.push(evt);
                                                        </script>
                                                        <span id="{{m.id}}" class="offer_event">
                                                                {{m.eventtype}} ( {{ m.weekday }}: {{ m.begin }} - {{ m.end }}) <br />
                                                        </span>
                                                {% endfor %}
                                        </td></td>
                                </tr>
                                <script>
                                        module.mods.push(mod);
                                </script>
                        {% endfor %}
                        {% else %}
                                <tr class="offer_ss offer" >
                                        <td colspan="7"> no moduls avaiable</td>
                                </tr>
                        {% endif %}


                        {% if ws_moduls %}
                        {% for modul in ws_moduls.distinct %}
                                <script>
                                        var mod = {number:"{{ modul.number}}",events:[],exercise:0,lab:0};
                                </script>
                                <tr class="offer_ws offer" id="{{ modul.number}}">
                                        <td>
                                                <input type="button" value="+" name="{{ modul.number }}" class="btn_sel" id="{{ modul.number }}_btn_sel">
                                                <input type="button" value="-" name="{{ modul.number }}" class="btn_desel" id="{{ modul.number }}_btn_desel" style="display:none;">
                                        </td>
                                        <td>{{ modul.name}}</td>
                                        <td>{{ modul.number}}</td>
                                        <td>{{ modul.lp}}</td>
                                        <td>{{ modul.modultype}}</td>
                                        <td>{{ modul.description}}</td>
                                        <td class="offer_events" id="{{ modul.number}}_events">
                                                {% for m in modul.event_set.all %}
                                                        <script>
                                                                var evt = {type: "{{m.eventtype}}" ,day: "{{ m.weekday }}", from: "{{ m.begin }}", to: "{{ m.end }}" , modul:"{{ modul.number}}",flag:"true",semester:"ws",id:"{{ m.id }}"};
                                                                mod.events.push(evt);
                                        
                                                                if("{{m.eventtype}}" == 'Praktikum'){
                                                                        mod.lab++;
                                                                }
                                                                else if("{{m.eventtype}}" == 'Übung'){
                                                                        mod.exercise++;
                                                                }
                                                        </script>
                                                        <span class="{{m.id}}" class="offer_event">
                                                                {{m.eventtype}} ( {{ m.weekday }}: {{ m.begin }} - {{ m.end }}) <br />
                                                        </span>
                                                {% endfor %}
                                        </td>
                                </tr>
                                <script>
                                        module.mods.push(mod);
                                </script>
                        {% endfor %}
                        {% else %}
                                <tr class="offer_ss offer" >
                                        <td colspan="7"> no moduls avaiable</td>
                                </tr>
                        {% endif %}

                        
        	</tbody>
        </table>
        <script>
                var week= {day:[ 
                                {id:"0", events:[] }, 
                                {id:"1", events:[] }, 
                                {id:"2", events:[] }, 
                                {id:"3", events:[] }, 
                                {id:"4", events:[] }, 
                                {id:"5", events:[] }, 
                                {id:"6", events:[] }, 
                         ]};

        	$('#select_semester').change(function (){
        		if($(this).val() !=5){
        			if($(this).val()==0){
        		              $('.offer_ss').css("display","table-row");
                                      $('.offer_ws').css("display","none");
        			}
        			else if($(this).val()==1){
                                      $('.offer_ws').css("display","table-row");
                                      $('.offer_ss').css("display","none");
        			}	
        		}
        	});
        
                $('.btn_sel').click(function(){
                        $(this).css("display","none");
                        $('#'+$(this).attr('name')+"_btn_desel").css("display","table-row");
                        var name='#'+$(this).attr('name');
                        $('#selected_body').append( $(name));
                        $(name+'_events').css("display","table-row");

                        for(var i in module.mods)
                        {
                                if(module.mods[i].number == $(this).attr("name"))
                                {
                                        for(var j in module.mods[i].events)
                                        {
                                               week.day[ module.mods[i].events[j].day ].events.push(module.mods[i].events[j]);
                                        }
                                }
                        }
                        checkOverLeap();
                });

                $('.btn_desel').click(function(){
                        $(this).css("display","none");
                        $('#'+$(this).attr('name')+"_btn_sel").css("display","table-row");
                        var name='#'+$(this).attr('name');
                        $('#offer_body').append($(name));
                        $(name+'_events').css("display","none");                 
                        for(var i in week.day)
                        {       
                                for( var j=week.day[i].events.length-1;j>=0;j--)
                                {
                                        if(week.day[i].events[j].modul == $(this).attr('name'))
                                        {
                                                week.day[i].events.splice(j,1);
                                                j=week.day[i].events.length;
                                        }
                                }
                        }
                        checkOverLeap();
                });

                $('#table_out_btn').click(function(){checkOverLeap();
                        $('#table_out').empty();
                        $('#table_out').append("<div id='table_out_div' class=''></div>");
                        
                        for(var j=6;j<23;j++){
                                if(j==6){
                                        $('#table_out_div').append("<div id='table-time-head' class='row'></div>");
                                        $('#table-time-head').append("<div id='table-time-head-day' class='rowh col-md-1' >h/day</div>");
                                        for(var i in week.day)
                                        {
                                                $('#table-time-head').append("<div id='table-time-head-day"+i+"' class='rowh col-md-1' >"+i+"</div>");
                                        }
                                }
                                $('#table_out_div').append("<div id='table-time"+j+"' class='row'></div>");
                                $('#table-time'+j).append("<div id='table-time"+j+"' class='rowh col-md-1' >"+j+"</div>");
                                for(var i in week.day)
                                { 
                                        var flag='false';
                                        var mod_number="";
                                        for(var k in week.day[i].events)
                                        {
                                                var splitfrom = week.day[i].events[k].from.split(":");
                                                var splitto = week.day[i].events[k].to.split(":");
                                                var from =splitfrom[0];
                                                var to =splitto[0];
                                                mod_number=week.day[i].events[k].modul;
                                                //##
                                                if(from >= j && from<(j+1) || to<= (j+1) && to >= j
                                                        ){
                                                        flag="true";
                                                }
                                        }

                                        if(flag=='true'){
                                                $('#table-time'+j).append("<div id='table-time"+j+"+day"+i+"' class='rowh col-md-1' style='background:green;'>"+mod_number+"</div>");
                                        }
                                        else{
                                                $('#table-time'+j).append("<div id='table-time"+j+"+day"+i+"' class='rowh col-md-1' >&nbsp;</div>");
                                        }        
                                        
                                }
                        }
                        
                });

                function checkOverLeap()
                {
                        for(var i in week.day)
                        {       
                                for( var j=0;j<week.day[i].events.length-1;j++)
                                { 
                                        week.day[i].events[j].flag="true";
                                        $("span."+week.day[i].events[j].id).css('color','green');
                                }

                                for( var j=0;j<week.day[i].events.length-2;j++)
                                {       
                                        for( var k=j+1;k<week.day[i].events.length-1;k++)
                                        {
                                                if(week.day[i].events[k].flag=="false" && week.day[i].events[j].flag=="false"){continue;}
                                                if(week.day[i].events[j].semester == week.day[i].events[k].semester && (
                                                        week.day[i].events[j].from > week.day[i].events[k].to 
                                                        ||  week.day[i].events[j].to < week.day[i].events[k].from ))
                                                {
                                                }
                                                else
                                                {
                                                     if(week.day[i].events[k].eventtype!="Vorlesung" || week.day[i].events[k].eventtype!='Seminar'){
                                                        week.day[i].events[k].flag="false";
                                                     }   
                                                     else if(week.day[i].events[j].eventtype!="Vorlesung" || week.day[i].events[j].eventtype!='Seminar'){
                                                        week.day[i].events[j].flag="false";
                                                     }
                                                     else{
                                                        week.day[i].events[k].flag="false";
                                                     }
                                                     
                                                }
                                        }
                                }

                                for( var j=0;j<week.day[i].events.length-1;j++)
                                { 
                                        if(week.day[i].events[j].flag=="true"){
                                                $("span."+week.day[i].events[j].id).css('color','green');
                                        }
                                        else{
                                                $("span."+week.day[i].events[j].id).css('color','yellow');
                                        }
                                        
                                }

                        }
                }
	</script>
{% endblock %}
