{% extends "base.html" %}
{% load timetable_extras %}

{% block title %}{{ block.super }} - Stundenplan{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
<script type="text/javascript">
	function Set() {
		var setObj = {}, val = {};

		this.add = function(str) {
		setObj[str] = val;
		};

		this.contains = function(str) {
			return setObj[str] === val;
		};

		this.remove = function(str) {
			delete setObj[str];
		};

		this.values = function() {
			var values = [];
			for (var i in setObj) {
				if (setObj[i] === val) {
					values.push(i);
				}
			}
			return values;
		};
	}

	var module= {mods:[{},]};
	var selected_events = new Set();
	var selected_kurs = new Set();
	var selected_own = new Set();
</script>
<div id="sidebar" style="position:fixed;">
    <div style="background-color:whitesmoke;padding-bottom:100px;padding-top:20px;">
        


        <div id="sidebar_content" style="padding-left:5%;padding-right:5%;">
            <div class="">
                <div id="sidebar_select" class="" style="margin-left:5%;margin-right:5%;">
                    <p>
                        <h4>select semester:</h4>
                        <select id="select_semester">
                            <option value="-1">choose one</option>
                            {% for semester in semesters %}
                                <option value="{{ semester.id }}">{{ semester.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>
            </div>
        </div>

        <div id="plan_top_displaytt"  style="margin-left:5%;margin-right:5%;margin-top:25px;">
            <p><a class="sidebar_link"id="link_timetable" href="{% url 'timetable' %}">display timetable</a></p>
        </div>

        <div style="border:solid 1px black;border-radius:5px;padding:5px;margin-left:5%;margin-right:5%;">
            <p>Selected Events:</p>
            <ul id="sidebar_selected">

            </ul>    
        </div>

    </div>
</div>




<div id="plan">
    <div id="plan_bottom" class="plan" style="padding-top:60px;padding-left:250px;">

        <div id="content" style="padding-left:8%;padding-right:8%;">
            <div id="content_moduls" class="content_div">
                <h3><p class="content_elements" id="content_module">Module: </p></h3>
                <div class="content_elements_div" id="content_module_div">

                    <table rules ="rows" id="offering" style="width:95%;">
                        <thead>
                            <tr>
                                <th >name</th>
                                <th >nummer</th>
                                <th >lp</th>
                                <th >type</th>
                                <th class="span6">description</th>
                            </tr>
                        </thead>
                        <tbody id="offer_body">
                            {% for semester in semesters %}
                                {% for modul in semester|module %}
                                    <tr class="hoover offer_sem{{ semester.id }} offer offer_modul" id="{{ semester.id }}_{{ modul.number }}" >
                                        <td>{{ modul.name }}</td>
                                        <td>{{ modul.number }}</td>
                                        <td>{% if modul.lp %}{{ modul.lp }}{% endif %}</td>
                                        <td>{% if modul.modultype %}{{ modul.modultype }}{% endif %}</td>
                                        <td title="{% if modul.description %}{{ modul.description }}{% endif %}">
                                        	{% if modul.description %}
                                        		{{ modul.description|slice:":60" }}..
                                        	{% endif %}
                                        </td>
                                    </tr>
                                    {% for event in modul|events:semester %}
                                        <tr class="offer_sem{{ semester.id }}_events modul_{{ semester.id }}_{{ modul.number }}_events offer offer_event" id="{{ semester.id }}_{{ modul.number }}_{{ event.id }}">
                                            <td colspan="2" id="{{ semester.id }}_{{ event.id }}_namefield" class="event_names" style="padding-left:25px;"><input type="checkbox" id="{{ semester.id }}_{{ modul.number }}_{{ event.id }}_checkbox" class="event_checkbox {{ semester.id }}_{{ modul.number }}" name="event" value="{{ event.id }}"> {{ event.name }}</td>
                                            <td colspan="2">{{ event.eventtype }}</td>
                                            <td >{{ event.weekday|convert_weekday }}{% if event.weeknumber %} {{ event.weeknumber }}{% endif %}
                                            {{ event.begin }} - {{ event.end }}</td>
                                            <input type="hidden" id="{{ event.id }}_begin" value="{{ event.begin }}" >
                                            <input type="hidden" id="{{ event.id }}_end" value="{{ event.end }}" >
                                            <input type="hidden" id="{{ event.id }}_day" value="{{ event.weekday }}" >
                                            <input type="hidden" id="{{ event.id }}_eventname" value="{{ event.name }}" >
                                            <input type="hidden" id="{{ event.id }}_modulnumber" value="{{ modul.number }}" >
                                            <input type="hidden" id="{{ event.id }}_weekday" value="{{ event.weekday|convert_weekday }}{% if event.weeknumber %} {{ event.weeknumber }}{% endif %}" >
                                            <input type="hidden" id="{{ event.id }}_semid" value="{{ semester.id }}" >
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="content_hss" class="content_div">
                <h3><p class="content_elements" id="content_hss">uni sport:</p></h3>
                <div class="content_elements_div" id="content_hss_div">

                    <table rules ="rows">
                        <thead>
                            <tr>
                                <td>name</td>
                                <td>tag</td>
                                <td>begin</td>
                                <td>end</td>
                                <td>description</td>
                            </tr>
                        </thead>
                        <tbody id="sport_body">
                            {% for kurs in kurse %}
                             	{% for event in kurs|spevents %}
                            			<tr class="sport offer_event hoover" id="{{ event.id }}_hss">
											<td id="{{ event.id }}_hss_namefield" class="event_names" style="padding-left:25px;"><input type="checkbox" id="{{ event.id }}_hss_checkbox" class="modul_checkbox {{ kurs.kurs }}" name="modul" value="{{ event.id }}"> {{ event.kurs }}</td>
			                                <td>{{ event.weekday|convert_weekday }}</td>
			                                <td>{{ event.begin}}</td>
			                                <td>{{ event.end}}</td>
			                                <td title="{% if kurs.description %}{{ kurs.description }}{% endif %}">{% if kurs.description %}{{ kurs.description|slice:":80" }}..{% endif %}</td>
											<input type="hidden" id="{{ event.id }}_hss_begin" value="{{ event.begin }}" >
			                                <input type="hidden" id="{{ event.id }}_hss_end" value="{{ event.end }}" >
			                                <input type="hidden" id="{{ event.id }}_hss_day" value="{{ event.weekday }}" >
			                                <input type="hidden" id="{{ event.id }}_hss_name" value="{{ event.kurs }}" >
			                                <input type="hidden" id="{{ event.id }}_hss_weekday" value="{{ event.weekday|convert_weekday }}" >
		                            	</tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div id="content_own" class="content_div">
                <h3><p class="content_elements" id="content_own">Own Events:</p></h3>
                <div class="content_elements_div" id="content_own_div">
                    <div id="own_events_div">
                        <table>
                            <thead> <th class="span4">Name</th> <th class="span4">Time</th> </thead>
                            <tbody id="own_events_table">
                                
                            </tbody>
                        </table>

                    </div>
                    <div class="add_event_div">
                        <input type="button" value="add own event" id="add_event_btn"><br/>
                        <div id="add_event_container">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	//reset selection
    $(document).ready(function(){
        $('.modul_checkbox').prop('checked',false);
        $('.event_checkbox').prop('checked',false);

        $('.content_elements_div').hide();
        $('.content_elements').click(function(){ 
            $( '#'+$(this).attr("id")+'_div').toggle();    
        });
    });

    
    //load semester event data
	$('#select_semester').change(function() {
        $(".table_div").show();
        selected_events = new Set();
        $(".event_checkbox").prop('checked',false);
        $('tr.offer_modul').css("background-color","white");

		var x = document.getElementById('select_semester');
		for ( i = 0; i < x.options.length; i++) {
			$('.offer_sem' + x[i].value).css('display', 'none');
            $('.offer_sem' + x[i].value+"_events").css('display', 'none');
		}
		if ( $(this).val() != -1 ) {
			$('.offer_sem' + $(this).val()).css('display', 'table-row');
		}else{
            $("#content_module_div").hide();
        }
        $("#content_module_div").show();
        checkoverleap();
	});

    // show/hide event for this module
    $('div#content_module_div > table').delegate('tr.offer_modul','click',function(){ 

        if ( $('.modul_' + $(this).attr('id') + '_events').css('display') == 'none' ) {
			$('.modul_' + $(this).attr('id') + '_events').css('display', 'table-row');
            $(this).css("background-color","#ecda4B");
		}
		else {
			$('.modul_' + $(this).attr('id') + '_events').css('display', 'none');
            $(this).css("background-color","white");  
            var elements = document.getElementsByClassName( $(this).attr('id') );
            for (var i=0; i<elements.length; i++) {
               if( elements[i].checked == true){
                selected_events.remove( elements[i].value );
               }
            }
            $('.'+ $(this).attr('id')).prop('checked', false);
		}
        checkoverleap();
	});
    
	//select ifi events
    $('div#content_module_div > table ').delegate('tr.offer_event','click',function(){

        if( $( '#'+$(this).attr('id')+'_checkbox').prop('checked') == false)
        {
            $( '#'+$(this).attr('id')+'_checkbox').prop('checked',true);
            selected_events.add($( '#'+$(this).attr('id')+'_checkbox').val());
        }
        else{
            $( '#'+$(this).attr('id')+'_checkbox').prop('checked',false);   
            selected_events.remove($( '#'+$(this).attr('id')+'_checkbox').val());
        }
        checkoverleap();
    });

    //select hss events
 	$('div#content_hss_div > table ').delegate('tr.offer_event','click',function(){

        if( $( '#'+$(this).attr('id')+'_checkbox').prop('checked') == false)
        {
            $( '#'+$(this).attr('id')+'_checkbox').prop('checked',true);
            selected_kurs.add($( '#'+$(this).attr('id')+'_checkbox').val());
        }
        else{
            $( '#'+$(this).attr('id')+'_checkbox').prop('checked',false);   
            selected_kurs.remove($( '#'+$(this).attr('id')+'_checkbox').val());
        }
        checkoverleap();
    });

 	//update postdata
    function setLink()
    {
        var site  = '{% url 'timetable' %}'
		var hss = '&hss='+selected_kurs.values();
        var own = '&own=';
	
        for(var i=0;i<ownevents.length;i++){
        	if(selected_own.contains(ownevents[i].id)){
        		own+=ownevents[i].modul+','+ownevents[i].day+','+ownevents[i].begin+','+ownevents[i].end+';';	
        	}
        }
        document.getElementById('link_timetable').href = site + '?events=' + selected_events.values() + own + hss;
    }


    function evt(begin,end,day,id,modul,semid){
        this.begin=begin;
        this.end=end;
        this.day=day;
        this.id=id;
        this.modul=modul;
        this.semid=semid
    }

    //checking und styling overleap for selected events
    function checkoverleap()
    {
    	//clear sidebar
        $('#sidebar_selected').empty();
        $('.event_names').css('color','black');

        // read selected informatik events
        var events =new Array();
        var evts = selected_events.values();
        for(i=0;i<evts.length;i++){
            var begin = document.getElementById(evts[i]+'_begin').value;
            var end = document.getElementById(evts[i]+'_end').value;
            var day = document.getElementById(evts[i]+'_day').value;
            var modul= document.getElementById(evts[i]+'_modulnumber').value;
            var weekday = document.getElementById(evts[i]+'_weekday').value;
            var eventname = document.getElementById(evts[i]+'_eventname').value;
            var semid = document.getElementById(evts[i]+'_semid').value;
            $('#sidebar_selected').append('<li id="'+evts[i]+'_sidebar">'+eventname.substring(0,35)+' <br>('+weekday.substring(0,2)+': '+begin+'-'+end+')</li>');   
            var e = new evt(begin,end,day,evts[i],modul,semid);
            events[i]=e;
            $('#'+semid+'_'+evts[i]+'_namefield').css('color','green');
            $('#'+evts[i]+'_sidebar').css('color','green');
            
        }

        // read selected sport  events
        var hss_events =new Array();
        var hss_evts = selected_kurs.values();
        for(i=0;i<hss_evts.length;i++){
            var begin = document.getElementById(hss_evts[i]+'_hss_begin').value;
            var end = document.getElementById(hss_evts[i]+'_hss_end').value;
            var day = document.getElementById(hss_evts[i]+'_hss_day').value;
            var modul= document.getElementById(hss_evts[i]+'_hss_name').value;
            var weekday = document.getElementById(hss_evts[i]+'_hss_weekday').value;
            var eventname = document.getElementById(hss_evts[i]+'_hss_name').value;
            $('#sidebar_selected').append('<li id="'+hss_evts[i]+'_hss_sidebar">'+eventname.substring(0,35)+'<br>('+weekday.substring(0,2)+': '+begin+'-'+end+')</li>');   
            var e = new evt(begin,end,day,evts[i],modul,0);
            hss_events[i]=e;
            
            $('#'+hss_evts[i]+'_hss_namefield').css('color','green');
            $('#'+hss_evts[i]+'_hss_sidebar').css('color','green');
        }

        //own events
        var own_evts = selected_own.values();
        for(i=0;i<own_evts.length;i++){
        	$('#sidebar_selected').append('<li id="'+ownevents[own_evts[i]].id+'_own_sidebar">'+ownevents[own_evts[i]].modul.substring(0,35)+' <br>('+ownevents[own_evts[i]].day.substring(0,2)+': '+ownevents[own_evts[i]].begin+'-'+ownevents[own_evts[i]].end+')</li>');   
        	$('#'+ownevents[own_evts[i]].id+'_own_namefield').css('color','green');
            $('#'+ownevents[own_evts[i]].id+'_own_sidebar').css('color','green');	
        }

        //overleap ifi events
        for(i=0;i<events.length;i++){
            for(j=i;j<events.length;j++){
                if(i==j){continue;}
                if(events[i].day != events[j].day || events[i].day == 'None'){continue;}

                if( between(events[i].begin, events[j].begin,events[j].end) || between(events[j].begin, events[i].begin,events[i].end)){
                    $('#'+events[i].semid+'_'+evts[i]+'_namefield').css('color','red');
                    $('#'+events[j].semid+'_'+evts[j]+'_namefield').css('color','red');
                    $('#'+evts[i]+'_sidebar').css('color','red');
                    $('#'+evts[j]+'_sidebar').css('color','red');
                } 
            }
        }

        //overleap sport events
        for(i=0;i<hss_events.length;i++){
            for(j=i;j<hss_events.length;j++){
                if(i==j){continue;}
                if(hss_events[i].day != hss_events[j].day){continue;}

                if( between(hss_events[i].begin, hss_events[j].begin,hss_events[j].end) || between(hss_events[j].begin, hss_events[i].begin,hss_events[i].end) ){
                    $('#'+hss_evts[i]+'_hss_namefield').css('color','red');
                    $('#'+hss_evts[j]+'_hss_namefield').css('color','red');
                    $('#'+hss_evts[i]+'_hss_sidebar').css('color','red');
                    $('#'+hss_evts[j]+'_hss_sidebar').css('color','red');
                } 
            }
        }
        //overleap own events
        for(i=0;i<own_evts.length;i++){
        	for(j=i;j<own_evts.length;j++){
        		if(i==j){continue;}
                if(ownevents[own_evts[i]].day != ownevents[own_evts[j]].day){continue;}
                if( between(ownevents[own_evts[i]].begin, ownevents[own_evts[j]].begin,ownevents[own_evts[j]].end) || between(ownevents[own_evts[j]].begin, ownevents[own_evts[i]].begin,ownevents[own_evts[i]].end) ){
                    $('#'+ownevents[own_evts[i]].id+'_own_namefield').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_namefield').css('color','red');
                    $('#'+ownevents[own_evts[i]].id+'_own_sidebar').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_sidebar').css('color','red');
                } 
        		
        	}
        }

        // overleap ifi-sport
        for(i=0;i<events.length;i++){
            for(j=0;j<hss_events.length;j++){
                if(events[i].day != hss_events[j].day){continue;}

                if( between(hss_events[j].begin,events[i].begin,events[i].end) || between(events[i].begin,hss_events[j].begin,hss_events[j].end) ){
                    $('#'+events[i].semid+'_'+evts[i]+'_namefield').css('color','red');
                    $('#'+hss_evts[j]+'_hss_namefield').css('color','red');
                    $('#'+evts[i]+'_sidebar').css('color','red');
                    $('#'+hss_evts[j]+'_hss_sidebar').css('color','red');
                } 
            }
        }
        // overleap ifi-own
        for(i=0;i<events.length;i++){
            for(j=0;j<own_evts.length;j++){
            	if(events[i].day != ownevents[own_evts[j]].day){continue;}

                if( between(ownevents[own_evts[j]].begin,events[i].begin,events[i].end) || between(events[i].begin,ownevents[own_evts[j]].begin,ownevents[own_evts[j]].end) ){
                    $('#'+events[i].semid+'_'+evts[i]+'_namefield').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_namefield').css('color','red');
                    $('#'+evts[i]+'_sidebar').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_sidebar').css('color','red');
                } 
            }
        }

        // overleap sport-own
        for(i=0;i<hss_events.length;i++){
            for(j=0;j<own_evts.length;j++){
            	if(hss_events[i].day != ownevents[own_evts[j]].day){continue;}

                if( between(ownevents[own_evts[j]].begin,hss_events[i].begin,hss_events[i].end) || between(hss_events[i].begin,ownevents[own_evts[j]].begin,ownevents[own_evts[j]].end) ){
                    $('#'+hss_evts[i]+'_hss_namefield').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_namefield').css('color','red');
                    $('#'+hss_evts[i]+'_hss_sidebar').css('color','red');
                    $('#'+ownevents[own_evts[j]].id+'_own_sidebar').css('color','red');
                } 
            }
        }
        //update postdata
        setLink();
    }

    // if from<val<to -> true, else false 
    function between(val,from,to)
    {
    	if(val >= from && val < to){return true;} 
    	return false;
    }

    //create new own event
    //add form to create new event
    $('#add_event_btn').click(function(){
        $('#add_event_container').empty();
        var day ="<select id='add_own_day'> <option value='0'>Mo</option> <option value='1'>Di</option> <option value='2'>Mi</option> <option value='3'>Do</option> <option value='4'>Fr</option> <option value='5'>Sa</option> <option value='6'>So</option></select>";
        var h="";
        for(var i=7;i<23;i++){h+="<option value='"+i+"'>"+i+"</option>"}
        var m="";
        for(var j=0;j<60;j+=5){if(j<10){m+="<option value='0"+j+"'>0"+j+"</option>"}else{m+="<option value='"+j+"'>"+j+"</option>"}}
        var fromhour ="<select id='add_own_beginh' > "+h+" </select>";
        var frommin ="<select id='add_own_beginm'> "+m+" </select>";
        var tohour ="<select id='add_own_endh'> "+h+" </select>";
        var tomin ="<select id='add_own_endm'> "+m+" </select>";

        $('#add_event_container').append( "<div id='owne' class='container' style='padding:25px;'></div>" );

        $('#owne').append( "<span class='span2'>Name:</span> <input  id='add_own_name' type='text' value='Name'> <br/>" );
        $('#owne').append( "<span class='span2'>Day:</span>"+day+"<br/>" );
        $('#owne').append( "<span class='span2'>Begin</span>"+fromhour+frommin+"<br/>" );
        $('#owne').append( "<span class='span2'>End</span>"+tohour+tomin+"<br/>" );
        $('#owne').append( "<input type='button' id='add_own_event' value='add'>" );
        
        //add created own event to own table
        $('#add_own_event').click(function(){

            var begin=$('#add_own_beginh option:selected').text()+':'+$('#add_own_beginm option:selected').text();
            var end=$('#add_own_endh option:selected').text()+':'+$('#add_own_endm option:selected').text();
            var day=$('#add_own_day option:selected').text();
            var dayi=$('#add_own_day option:selected').val();
            var modul=$('#add_own_name').val();
            var eventid=ownevents.length;

            var row = $('<tr class="offer_event own_events_tr" id="'+eventid+'_own" value="'+eventid+'">');
            row.append('<td id="'+eventid+'_own_namefield" class="event_names" style="padding-left:25px;">'+modul+'</td>');
            row.append('<td>' + day + ': ' + begin + '-' + end + '</td>');
            $('#own_events_table').append( row);

			selected_own.add(eventid);
            $('#add_event_container').empty();

            begin=addzero(begin);
            end=addzero(end);
            
            var e = new evt(begin,end,dayi,eventid,modul,0);
            ownevents[ownevents.length]=e;

            checkoverleap();
        });
    });
	//storage for all created own events, if selected or not
    var ownevents =new Array();
    
    //adds a zero,when hour <10 
    //input "h:m"
    function addzero(a)   {
    	var aa = a.split(":");
		if(aa[0]<10){a='0'+aa[0]+':'+aa[1];}
		return a;
    }
   
    //select/deselect own events
    $('div#own_events_div > table ').delegate('tr.own_events_tr','click',function(){
            	if(selected_own.contains($(this).attr('value'))){
            		selected_own.remove($(this).attr('value'));	
            	}
            	else{
            		selected_own.add($(this).attr('value'));	
            	}
            	checkoverleap();
           });
    
</script>
{% endblock %}