body {
	background: #F0F0F0;
	font-family: monospace;
	font-size: 10pt;
	font-weight: normal;
	color: black;
	padding-top:40px;
}

a {
	font-family: monospace;
	font-weight: bold;
	color: inherit;
	text-decoration: none;}

a:hover {
	color: #0276FD;
	font-weight: bold;
	text-decoration: none;}

a:active {
	position: relative;
	top: 1px;
	right: -1px;}


table{border:solid 1px black;}

tr.offer_modul{
	border:1px solid black;
}
tr.offer_modul td{
	padding-top:3px;
	padding-bottom:3px;
}
tr.offer_modul:hover{
	background-color: #FFEC8B;
	cursor:pointer;
}
tr.offer_event:hover{
	cursor:pointer;
}
tr.offer_event td{
	background-color: #e0e0e0;
	border: solid 0px black;
}
th,td {
	padding-left: 10px;
	padding-right: 10px;}

.offer{display:none;}
.offer_events{display:none;
	color:green;}

.table-day{display:table-row;}
.rowh{border:solid 1px black;}
.modcell{font-size: 10px;}