{% load staticfiles %}
{% load admin_urls %}

<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<link rel="stylesheet" href="{% static "css/menubar.css" %}" />
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "css/tribal-timetable.css" %}" />
		<link rel="stylesheet" href="{% static "css/style2.css" %}" />


		<script language="JavaScript" type="text/javascript" src="{% static "js/jquery-ui-1.10.4.custom.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/jquery.ba-resize.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/bootstrap-tooltip.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/bootstrap-collapse.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/tribal.js" %}" ></script>
		<script language="JavaScript" type="text/javascript" src="{% static "js/tribal-timetable.js" %}" ></script>
		<title>InterTime</title>
	</head>
	<body>
		<header>
			{% block menubar %}
				{% include "menubar.html" %}
			{% endblock %}
		</header>
		<div style="margin-top: 3em;">
			{% block header %}{% endblock %}
		</div>
		<div id="content" style="margin-left: 2em; margin-right: 2em;">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>