{% load staticfiles %}
{% load admin_urls %}

<!DOCTYPE html>
<html lang="de">
	<head>
	<header>
    {% block menubar %}
        {% include "menubar.html" %}
    {% endblock %}
	</header>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<link rel="stylesheet" href="{% static "css/menubar.css" %}" />
		<script language="JavaScript" type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}" ></script>
		<title>InterTime</title>
	</head>
	<body>
		<div>
			{% block header %}{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>